:root {
  --color-primary: #2ecc71;
  --color-primary-2: #43d17f;
  --color-white: #fff;
  --color-white-2: #eeeeee;
  --color-black: #000000;
  --color-grey-dark: #3e403e;
  --color-grey-dark-2: #393c41;
  --color-grey-dark-3: #4c4e52;
  --color-grey-dark-4: #606265;
  --color-grey-light: #bbbbbb;
  --color-grey-light-1: #aaaaaa;
  --color-grey-light-2: #eaeaea;
  --color-promo: #0f0f15;
  --color-blue-light: #94bad7;
  --color-blue-light-1: #878f9c;
}

.linear-gradient {
  background: linear-gradient(320deg, #2ecc71 50%, #43d17f 50%);
}

@-webkit-keyframes showUp {
  0% {
    -webkit-transform: translateX(-15rem);
            transform: translateX(-15rem);
  }
  50% {
    -webkit-transform: translateX(-15rem);
            transform: translateX(-15rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes showUp {
  0% {
    -webkit-transform: translateX(-15rem);
            transform: translateX(-15rem);
  }
  50% {
    -webkit-transform: translateX(-15rem);
            transform: translateX(-15rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  height: 800vh;
}

.heading-primary {
  font-size: 6rem;
  text-transform: uppercase;
  margin-bottom: 5rem;
  position: relative;
}

.heading-primary::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 0.5rem;
  width: 17rem;
  background-color: var(--color-primary);
  margin-top: 3rem;
}

.heading-secondary {
  color: var(--color-white);
  background-color: var(--color-primary);
  width: 30rem;
  height: 9rem;
  padding: 1.5rem 1rem;
  margin: 0 auto;
  text-align: center;
  -webkit-transform: skew(9deg, -5deg);
          transform: skew(9deg, -5deg);
  position: relative;
}

.heading-secondary__text {
  width: 100%;
  position: absolute;
  top: 3rem;
  left: 0.2rem;
  font-size: 5rem;
  font-weight: 400;
  -webkit-transform: skew(-9deg, 5deg);
          transform: skew(-9deg, 5deg);
  margin-top: -4px;
}

.paragraph {
  line-height: 2.4rem;
  margin: 3rem 0;
  font-size: 1.8rem;
  width: 34%;
  text-align: center;
}

.header {
  height: 100vh;
  width: 100%;
  background-image: url("https://eryk-m.github.io/matrix-single/img/background.jpg");
  background-size: cover;
  background-position: center top;
  position: relative;
}

.header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

.header__text-box {
  width: 100%;
  color: var(--color-white);
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.navigation {
  position: absolute;
  z-index: 1;
  width: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
}

.navigation__logo {
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
}

.navigation__nav {
  margin-right: 10rem;
  width: 30%;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.navigation__item {
  display: inline-block;
}

.navigation__link:link, .navigation__link:visited {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
}

.navigation__link:hover, .navigation__link:active {
  color: var(--color-primary);
}

.navigation__icon-box .cart {
  margin-left: 2rem;
  position: relative;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navigation__icon-box .icon {
  font-size: 1.4rem;
  color: var(--color-white);
}

.navigation__notification {
  font-size: 1rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: #fff;
  position: absolute;
  top: -0.5rem;
  left: 2rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-about {
  margin-top: 12rem;
}

.btn, .btn:link, .btn:visited {
  font-size: 1.8rem;
  color: var(--color-white);
  width: 20rem;
  text-decoration: none;
  padding: 1.5rem 1rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-align: center;
  border: 2px solid white;
  margin-top: 2.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
}

.btn:active {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--green, .btn--green:link, .btn--green:visited {
  font-size: 1.8rem;
  color: var(--color-white);
  text-decoration: none;
  padding: 1.5rem 4.5rem;
  cursor: pointer;
  text-align: center;
  background-color: var(--color-primary);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--green:hover, .btn--green:link:hover, .btn--green:visited:hover {
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
}

.btn--green:active, .btn--green:link:active, .btn--green:visited:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-black, .btn-black:link, .btn-black:visited {
  font-size: 1.8rem;
  color: var(--color-grey-dark-2);
  width: 20rem;
  text-decoration: none;
  padding: 1.5rem 1rem;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: 2px solid var(--color-grey-dark-2);
  margin-top: 4.1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-black .fa-folder {
  margin-right: 0.8rem;
  color: var(--color-grey-dark-2);
}

.btn-black:hover > .fa-folder {
  color: var(--color-white);
}

.btn-black:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
}

.btn-black:active {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.about-us {
  margin-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  width: 100%;
  height: 51rem;
}

.about-us__photo {
  position: relative;
  top: 6rem;
  left: 6rem;
  height: 44rem;
  width: 44rem;
  background-image: url("https://eryk-m.github.io/matrix-single/img/about-us.jpg");
  background-size: cover;
  background-position: center;
  outline: 5px solid rgba(255, 255, 255, 0.4);
  margin-right: 2rem;
}

.about-us__photo:before {
  position: absolute;
  top: -6rem;
  left: -6rem;
  content: "";
  background-color: var(--color-primary);
  height: 44rem;
  width: 44rem;
  z-index: -1;
}

.about-us__intro {
  margin-left: 10rem;
  width: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us__heading-tertiary {
  font-size: 3rem;
  margin-bottom: 5.5rem;
  font-weight: 300;
  position: relative;
}

.about-us__heading-tertiary::after {
  position: absolute;
  content: "";
  top: 1rem;
  left: 0;
  height: 0.3rem;
  width: 5rem;
  background-color: var(--color-primary);
  margin-top: 3rem;
}

.about-us__paragraph {
  width: 100%;
  font-size: 1.6rem;
  color: var(--color-grey-light);
  line-height: 2.3rem;
  margin-bottom: 4rem;
}

.about-us__list {
  font-size: 2rem;
  border-left: 3px solid var(--color-primary);
  padding-left: 1rem;
  list-style: none;
}

.about-us__item {
  color: var(--color-grey-light);
  font-style: italic;
  margin-top: 1rem;
}

.about-us__item:not(:last-child) {
  margin-bottom: 1rem;
}

.about-us__item span {
  font-style: normal;
  font-weight: 600;
  color: var(--color-grey-dark-2);
}

.features {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.features__item {
  width: 34rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 25rem;
}

.features__item:not(:last-child) {
  margin-right: 6rem;
}

.features__item-icon {
  font-size: 3.5rem;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background-color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid var(--color-primary);
}

.features__item-icon .fa-camera {
  color: var(--color-primary);
}

.features__item-icon .fa-desktop {
  color: var(--color-white);
}

.features__item-icon .fa-comments {
  color: var(--color-primary);
}

.features__text {
  color: var(--color-grey-dark-2);
  margin-top: 3rem;
  font-size: 2rem;
}

.features__paragraph {
  margin-top: 3rem;
  font-size: 1.6rem;
  color: var(--color-grey-light);
  text-align: center;
  line-height: 2.3rem;
}

.works {
  margin-top: 14rem;
}

.works__wrapper {
  margin-top: 7rem;
}

.works__portfolioFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1rem;
}

.works__portfolioFilter .current {
  color: var(--color-primary);
}

.works__portfolioFilter a,
.works__portfolioFilter a:active,
.works__portfolioFilter a:link {
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-grey-dark-3);
}

.works__portfolioFilter a:not(:last-child),
.works__portfolioFilter a:active:not(:last-child),
.works__portfolioFilter a:link:not(:last-child) {
  margin-right: 5rem;
}

.works__portfolioContainer {
  max-width: 160rem;
  margin: 0 auto;
  margin-top: 8rem;
  min-height: 80rem;
}

.works__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  padding: 4rem 4rem;
  -webkit-transform: translateX(-16rem);
          transform: translateX(-16rem);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.works__text-box--heading {
  margin-bottom: 3rem;
  font-size: 2rem;
  position: relative;
}

.works__text-box--heading::after {
  position: absolute;
  content: "";
  top: 0.2rem;
  left: 0;
  height: 0.3rem;
  width: 5rem;
  background-color: var(--color-primary);
  margin-top: 3rem;
}

.works__text-box--secondary {
  font-size: 1.4rem;
  z-index: 1000;
}

.works__image {
  float: left;
  width: 40rem;
  height: 40rem;
  background-size: cover;
  background-position: center;
  color: var(--color-white);
  overflow: hidden;
}

.works__image:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(96, 98, 101, 0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.works__image:hover::before {
  top: 0;
}

.works__image:hover > .works__text-box {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.app-1 {
  background-image: url("https://eryk-m.github.io/matrix-single/img/app-1.jpg");
}

.app-2 {
  background-image: url("https://eryk-m.github.io/matrix-single/img/app-2.jpg");
}

.photo-1 {
  background-image: url("https://eryk-m.github.io/matrix-single/img/photo-1.jpg");
}

.photo-2 {
  background-image: url("https://eryk-m.github.io/matrix-single/img/photo-2.jpg");
}

.web-1 {
  background-image: url("https://eryk-m.github.io/matrix-single/img/web-1.jpg");
}

.web-2 {
  background-image: url("https://eryk-m.github.io/matrix-single/img/web-2.jpg");
}

.animation-1 {
  background-image: url("https://eryk-m.github.io/matrix-single/img/animation-1.jpg");
}

.animation-2 {
  background-image: url("https://eryk-m.github.io/matrix-single/img/animation-2.jpg");
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.news {
  margin-top: 15rem;
}

.news__wrapper {
  width: 116rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
}

.news__item {
  margin-top: 9rem;
  position: relative;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.news__item:first-of-type {
  margin-left: 3.5rem;
}

.news__photo {
  height: 32rem;
  width: 34rem;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -5;
  overflow: hidden;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 3px;
}

.news__photo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(96, 98, 101, 0);
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  z-index: -3;
}

.news__photo::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 8rem;
  background: rgba(46, 204, 113, 0);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  z-index: -2;
}

.news__more {
  text-transform: uppercase;
  color: var(--color-white);
  font-size: 1.4rem;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: -15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.news__heading {
  color: var(--color-grey-dark-2);
  text-transform: uppercase;
  margin-top: 1.5rem;
  font-size: 2.4rem;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.news__author-date {
  display: inline-block;
  color: var(--color-grey-light);
  margin-top: 1rem;
  font-size: 1.4rem;
}

.news__text {
  font-style: italic;
  line-height: 2.3rem;
  width: 90%;
  color: var(--color-grey-light);
  margin-top: 2.5rem;
  font-size: 1.6rem;
}

.news__photo--link,
.news__photo--link:focus,
.news__photo--link:hover,
.news__photo--link:active {
  display: inline-block !important;
}

.news-1 {
  background-image: url("https://eryk-m.github.io/matrix-single/img/news-2.jpg");
}

.news-2 {
  background-image: url("https://eryk-m.github.io/matrix-single/img/news-3.jpg");
}

.news-3 {
  background-image: url("https://eryk-m.github.io/matrix-single/img/news-1.jpg");
}

.news__photo--link:hover .news__photo {
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.news__photo--link:hover .news__photo::before {
  background: rgba(96, 98, 101, 0.7);
}

.news__photo--link:hover .news__photo::after {
  background: rgba(46, 204, 113, 0.4);
}

.news__photo--link:hover .news__more {
  left: 50%;
}

.news__photo--link:hover + .news__heading {
  color: var(--color-primary);
}

.opinions {
  margin-top: 15rem;
}

.opinions__text-box {
  position: absolute;
  top: 50%;
  left: 30%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  z-index: 5;
}

.opinions__image {
  position: relative;
  height: 70rem;
  width: 100%;
  background-image: url("https://eryk-m.github.io/matrix-single/img/opinion.jpg");
  background-position: center;
  background-size: cover;
}

.opinions__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.opinions__paragraph {
  color: var(--color-white-2);
  line-height: 2.1rem;
  width: 45rem;
  font-size: 1.5rem;
}

.opinions__paragraph::before {
  font-family: arial;
  position: absolute;
  left: -2%;
  content: "\201c";
  font-size: 20rem;
  color: var(--color-grey-dark-3);
}

.opinions__author {
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.opinions__author-info {
  color: var(--color-white-2);
  margin-top: 1rem;
  font-size: 1.4rem;
}

.team {
  margin-top: 15rem;
}

.team .heading-secondary {
  margin-bottom: 8rem;
}

.team__icon {
  background-color: var(--color-primary);
  padding: 1rem;
  font-size: 1.5rem;
  color: var(--color-white);
  width: 3.3rem;
}

.team__icon-link:not(:last-child) {
  margin-right: 1rem;
}

.team__icon-link, .team__icon-link:focus, .team__icon-link:hover, .team__icon-link:active {
  display: inline-block !important;
}

.team__icon-wrapper {
  position: relative;
  display: inline-block;
  top: 50%;
  left: 130%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.team__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 117rem;
  height: 61.5rem;
  margin: 0 auto;
}

.team .photo-details {
  overflow: hidden;
  height: 25.5rem;
  width: 25.5rem;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  position: relative;
}

.team .photo-details::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(135deg, transparent 0%, transparent 50%, rgba(46, 204, 113, 0.3) 50%);
  background-size: 320%;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.team .photo-details:hover::before {
  background-position: 100%;
}

.team .photo-details:hover .team__icon-wrapper {
  left: 50%;
}

.team__paragraph {
  font-style: italic;
  line-height: 2.3rem;
  color: var(--color-grey-light);
  margin-top: 2.5rem;
  font-size: 1.6rem;
}

.team__member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.team__member-photo--1 {
  background-image: url("https://eryk-m.github.io/matrix-single/img/girl-1.jpg");
}

.team__member-photo--2 {
  background-image: url("https://eryk-m.github.io/matrix-single/img/man-1.jpg");
}

.team__member-photo--3 {
  background-image: url("https://eryk-m.github.io/matrix-single/img/girl-2.jpg");
}

.team__member-photo--4 {
  background-image: url("https://eryk-m.github.io/matrix-single/img/man-2.jpg");
}

.team__member-box {
  margin-left: 2.5rem;
  width: 28rem;
  display: inline-block;
}

.team__member-name {
  color: var(--color-grey-dark-2);
  margin-top: 3rem;
  font-size: 2rem;
  margin-bottom: 0.4rem;
}

.team__member-info {
  color: var(--color-grey-light);
  margin-top: 1rem;
  font-size: 1.4rem;
}

.promo {
  margin-top: 15rem;
  width: 100%;
  height: 25rem;
  background-color: rgba(15, 15, 21, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.promo .promo-details {
  height: auto;
  width: 17rem;
  opacity: 1;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.promo .promo-details:hover {
  opacity: 0.4;
}

.promo__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 25rem;
  width: 117rem;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.offer {
  margin-top: 15rem;
}

.offer .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 117rem;
  height: 60rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  width: 34rem;
  margin-top: 8rem;
}

.card__side {
  height: 52rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

.card__side--front {
  background-color: var(--color-grey-light-2);
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__side--back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(170, 170, 170, 0.85)), to(rgba(234, 234, 234, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(170, 170, 170, 0.85), rgba(234, 234, 234, 0.85));
}

.card__side--back-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(170, 170, 170, 0.85)), to(rgba(234, 234, 234, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(170, 170, 170, 0.85), rgba(234, 234, 234, 0.85));
}

.card__side--back-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(170, 170, 170, 0.85)), to(rgba(234, 234, 234, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(170, 170, 170, 0.85), rgba(234, 234, 234, 0.85));
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card__picture--1 {
  position: relative;
  background-image: url("/img/standard.jpg");
}

.card__picture--1:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.card__picture--2 {
  background-image: url("/img/premium.jpg");
}

.card__picture--2:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.card__picture--3 {
  background-image: url("/img/ultimate.jpg");
}

.card__picture--3:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: var(--color-white-2);
  position: absolute;
  top: 20%;
  left: 25%;
}

.card__details {
  padding: 3rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid var(--color-grey-light-1);
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
}

.card__price-box {
  text-align: center;
  color: var(--color-grey-dark-2);
  margin-bottom: 8rem;
}

.card__price-value {
  font-size: 2.4rem;
  font-weight: 100;
  position: relative;
}

.card__price-value span {
  font-size: 6rem;
  font-weight: 700;
}

.card__price-value:before {
  content: "\0024";
  font-size: 3rem;
  font-weight: 700;
  position: absolute;
  left: 0;
  top: 0;
}

.card__price-value:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 0.3rem;
  width: 10rem;
  background-color: var(--color-primary);
  margin-top: 5rem;
}
/*# sourceMappingURL=main.css.map */